@using CMS.Web.Base;
@using CMS.Models;
@{
    ViewBag.Title = "Bảng Giá";
}
<div style="padding-top: 50px">
    <div href="#" class="wow wing">
        <img src="~/staticTheme/img/Bảng giá GIẶT LÀ-1.jpg" />
        <img src="~/staticTheme/img/Bảng giá GIẶT LÀ-2.jpg" />
        <img src="~/staticTheme/img/Bảng giá GIẶT LÀ-3.jpg" />
        <img src="~/staticTheme/img/Bảng giá GIẶT LÀ-4.jpg" />

    </div>
</div>