@using CMS.Web.Base;
@using CMS.Models;
@{
    ViewBag.Title = "Trang Chủ";
}
<!--Slide show-->
<div>
    <!-- Hero Section end -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hs-text" style="padding-top: 15px">
                        <h2>Giặt là HP</h2>
                        <p style="font-size: 20px; margin-bottom:25px; line-height: 1">Bạn không có thời gian <b>GIẶT ĐỒ</b>?</p>
                        <p style="font-size: 20px; margin-bottom:25px; line-height: 1">Quần áo bẩn chất đống? </p>
                        <p style="font-size: 20px; margin-bottom:25px; line-height: 1">Ẩm mốc do thời tiết? </p>
                        <p style="font-size: 20px; margin-bottom:25px; line-height: 1">Hãy đến với chúng tôi!</p>
                        <p style="font-size: 20px; margin-bottom:25px; line-height: 1">Có dịch vụ <b>NHẬN - TRẢ</b> đồ tại nhà</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="hero-form" action="/Home/DatLich" method="post">

                        <p style="height: 60px">
                            <label style="vertical-align: sub">Số điện thoại: *</label>
                            <input type="text" name="sodienthoai" aria-required="true" aria-invalid="false" required placeholder="Nhập số điện thoại...">
                        </p>
                        <p style="height: 60px">
                            <label style="vertical-align: sub">Ngày lấy đồ: *</label>
                            <input type="date" name="ngaydat" id="ngaydat" aria-required="true" aria-invalid="false" required placeholder="Nhập ngày lấy...">
                        </p>
                        <p style="height: 60px">
                            <label style="vertical-align: sub">Giờ lấy đồ: *</label>
                            <span>
                                <select name="giodat" aria-invalid="false">
                                    <option value="1">7h - 9h</option>
                                    <option value="2">19h - 21h</option>
                                </select>
                            </span>
                        </p>
                        @*@if (ViewBag.message != null)
                            {
                                <p style="height: 60px">
                                    <label style="color: red"><b>@ViewBag.message</b></label>
                                </p>
                            }*@
                        <p style="font-size: 14px; margin-bottom: 0px; font-weight: 400; color: black">
                            Đăng ký thành viên ngay <a href="#sectionDangKyThanhVien" style="color: rgb(69, 127, 119); "><u><b>Tại đây</b></u></a>
                            để nhận thêm nhiều ưu đãi!
                        </p>
                        <p style="margin-bottom: 0px; padding-top: 15px; text-align: center;">
                            <span class="form-late">
                                <button type="submit" class="site-btn">Đặt lịch ngay</button>
                            </span>
                        </p>
                        <script>
                            document.getElementById("ngaydat").valueAsDate = new Date();
                        </script>

                    </form>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="staticTheme/img/hero-slider/parallax-img-01.jpg"></div>
            <div class="hs-item set-bg" data-setbg="staticTheme/img/hero-slider/parallax-img-02.jpg"></div>
            <div class="hs-item set-bg" data-setbg="staticTheme/img/hero-slider/parallax-img-03.jpg"></div>
        </div>
    </section>
    <!-- Hero Section end -->
    <!-- Help Section -->
    <section class="help-section spad" style="background-color: #fff">
        <div class="container">
            <div class="text-center mb-4">
                <h2>UY TÍN - CHẤT LƯỢNG - TẬN TÂM</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="color: black; font-weight: 500; text-align: center">
                        Bạn đang cảm thấy mệt mỏi, vất vả với việc phải giặt giũ đống quần áo "chất cao như núi" mỗi ngày?
                        Phơi đồ, ủi đồ, gấp đồ đang "chiếm lĩnh" hết quỹ thời gian của bạn?
                        Bạn luôn ước rằng sẽ có một ai đó thay mình làm tất cả những việc nhàm chán ấy?
                    </p>
                    <p style="color: black; font-weight: 500; text-align: center">
                        Hãy để Giặt là Hiền Phong giúp bạn xử lý gọn gàng và nhanh chóng.
                        Chúng tôi cam kết đêm lại cho khách hàng dịch vụ nhanh nhất, rẻ nhất, chất lượng nhất, tạo sự yên tâm và
                        tin tưởng
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Help Section end -->
    <!-- Why Section end -->
    <section class="why-section spad" style="background-color: rgb(69, 127, 119); padding-bottom: 0px">
        <div class="container">
            <div class="text-center text-white mb-5 pb-4">
                <h2>Tại sao nên lựa chọn chúng tôi?</h2>
            </div>
            <div class="row">
                <div class="col-md-4" style="text-align: -webkit-center">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-037-responsive"></i>
                        </div>
                        <div class="ib-text text-white">
                            <h5>Tiết kiệm</h5>
                            <p>Khách hàng không cần phải bỏ công sức giặt - phơi - là - gấp quần áo, mà sẽ có nhiều thời gian cho gia đình và công việc đồng thời mức giá vô cùng hợp lý, luôn cạnh tranh</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: -webkit-center">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-036-customer-service"></i>
                        </div>
                        <div class="ib-text text-white">
                            <h5>Yên tâm</h5>
                            <p>Đồ được kiểm tra, phân loại, đánh dấu kỹ càng tránh thất lạc. Đồ tới tay khách hàng luôn đảm bảo sạch đẹp, thơm tho như mới.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: -webkit-center">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-012-24-hours"></i>
                        </div>
                        <div class="ib-text text-white">
                            <h5>Tiện lợi</h5>
                            <p>Nhận giặt là online thông qua đăng ký tại website, fanpage, hotline… Nhận lấy đồ và trả đồ, thanh toán tận tay giúp khách hàng luôn cảm thấy hài lòng với sự tiện lợi - nhanh chóng.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Section end -->
    <!-- Feature Section -->
    <section class="feature-section spad" id="sectionDangKyThanhVien">
        <div class="container">
            <div class="feature-item">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/staticTheme/img/feature-1.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-text" style="padding-top: 25px">
                            <h2 style="margin-bottom: 25px">Đăng ký thành viên</h2>
                            <form class="form-dang-ky" action="Home/DangKy" method="post">
                                <div class="row text-wrap">
                                    <div class="col-sm-12 col-md-3">
                                        <label style="vertical-align: sub">Họ và tên*: </label>
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <input type="text" name="tenkhachhang" value="" required placeholder="Lương Tuấn Minh">
                                    </div>
                                </div>
                                <div class="row text-wrap">
                                    <div class="col-sm-12 col-md-3">
                                        <label style="vertical-align: sub">Địa chỉ*: </label>
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <input type="text" name="diachi" value="" required placeholder="Tầng 6, tòa A, chung cư B, Hai Bà Trưng">
                                    </div>
                                </div>
                                <div class="row text-wrap">
                                    <div class="col-sm-12 col-md-3">
                                        <label style="vertical-align: sub">Số điện thoại*: </label>
                                    </div>
                                    <div class="col-6 col-md-5">
                                        <input type="text" name="sodienthoai" value="" required placeholder="0354354654">
                                    </div>
                                    <div class="col-6 col-md-4" style="padding-left: 0px">
                                        <input type="text" name="sodienthoaikhac" value="" placeholder="Số khác">
                                    </div>
                                </div>
                                <div class="row text-wrap">
                                    <div class="col-sm-12 col-md-3">
                                        <label style="vertical-align: sub">Email: </label>
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <input type="text" name="email" value="" placeholder="youremail@gmai.com">
                                    </div>
                                </div>
                                <div class="row" style="justify-content: center">
                                    <button class="site-btn">Đăng ký ngay</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-item">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <img src="~/staticTheme/img/feature-2.jpg" alt="">
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="feature-text" style="padding-top: 25px">
                            <h2>Về chúng tôi</h2>
                            <p style="color: black">
                                Được thành lập từ năm 2017, trải qua 3 năm kinh nghiệm trong lĩnh vực giặt là cùng đội ngũ nhân viên chuyên nghiệp - trách nhiệm - năng động, hệ thống Giặt Là Hiền Phong tự tin khẳng định và cam kết sẽ đem tới cho khách hàng sự hài lòng tuyệt đối
                            </p>
                            <p style="color: black">
                                Giặt Là Hiền Phong làm việc với mục tiêu không ngừng nỗ lực và phát triển, luôn cập nhật những công nghệ, phương pháp mới nhất, đi cùng với đó là đảm bảo thực hiện những quy tắc về an toàn môi trường. Khách hàng sẽ cảm nhận được giá trị tốt nhất, sự tận tâm của chúng tôi chỉ ngay trong lần đầu tiên sử dụng dịch vụ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Feature Section end -->
</div>

