@using CMS.Web.Base;
@using CMS.Models;
@{
    ViewBag.Title = "Liên Hệ";
}
<div style="padding-top: 50px">
    <section class="contact-section spad">
        <div class="container">
            @if (ViewBag.mgs != null && ViewBag.mgs != 3)
            {
                if (ViewBag.mgs == 4)
                {
                    <div class="row" style="place-content: center; text-align: center; font-size: 30px; font-style: italic; padding-top: 20px;">
                        Cảm ơn bạn đã đăng ký thành viên!
                    </div>
                }
                else
                {
                    <div class="row" style="place-content: center; text-align: center; font-size: 30px; font-style: italic; padding-top: 20px;">
                        Cảm ơn bạn đã đặt lịch tại giặt là Hiền Phong!
                    </div>
                    if (ViewBag.mgs == 1)
                    {
                        <div class="row" style="place-content: center; font-size: 18px; font-style: italic; padding-top: 5px;">
                            Click vào&nbsp;<a href="/#sectionDangKyThanhVien"> đây </a> &nbsp;để cập nhật đăng ký thông tin thành viên
                        </div>
                    }
                }

            }

            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-text">
                        <h2>Đóng góp ý kiến</h2>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hime-naeos. Suspendisse potenti. </p>*@
                    <ul>
                        <li><i class="flaticon-032-placeholder"></i>102 - A1, phố 8/3, Quỳnh Mai, Hai Bà Trưng, Hà Nội.</li>
                        <li><i class="flaticon-032-placeholder"></i>Ngõ 1, đường Đình, An Phú, Trâu Quỳ, Gia Lâm, Hà Nội.</li>
                        <li><i class="flaticon-029-telephone-1"></i><a href="tel:0845971859">084 5971 859 - 090 414 625</a></li>
                        <li><i class="flaticon-025-arroba"></i>giatlahienphong@gmail.com</li>
                        <li><i class="flaticon-038-wall-clock"></i>Thứ 2 - Chủ Nhật : 7:00am - 9:00pm</li>
                    </ul>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form class="contact-form" action="/home/themlienhe" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="tennguoidung" placeholder="Họ và tên">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="sodienthoai" placeholder="Số điện thoại">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Lời đóng góp ý kiến cho chúng tôi" name="noidung"></textarea>
                                <button class="site-btn" style="text-align: center">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map">
                <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=102%20A1%2C%20ph%E1%BB%91%208%2F3+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section end -->
</div>

@*<div class="full-content">
        <div class="limit clearfix"></div>
        <div class="full-contact full-width">
            <div class="contact-breadcrumbs">
                <div class="inner-container">
                    <p id="breadcrumbs"><span><span><a href="trangchu.html">Home</a> » <span class="breadcrumb_last">Liên hệ</span></span></span></p>
                </div>
            </div>
            <div class="inner-container">
                <div class="all-contact full-width">
                    <h1> Liên hệ và đóng góp ý kiến</h1>
                    <div class="contact-box full-width">
                        <div class="contact-item1">
                            <div class="contact-item11">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h3>Địa chỉ :</h3>
                                <p>102 - A1 , phố 8/3, Quỳnh Mai, Hai Bà Trưng, Hà Nội.<br></p>
                            </div>
                            <div class="contact-item11">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <h3>Hotline</h3>
                                <p><a href="">084 5971 859 - 090 414 625</a></p>
                            </div>
                        </div>
                        <div class="contact-item2">
                            <div role="form" class="wpcf7" id="wpcf7-f993-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/home/themlienhe" method="post" class="wpcf7-form" >
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="993" />
                                        <input type="hidden" name="_wpcf7_version" value="5.0.3" />
                                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f993-o1" />
                                        <input type="hidden" name="_wpcf7_container_post" value="0" />
                                    </div>
                                    <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="tennguoidung" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Tên khách hàng" required/></span> </p>
                                    <p>    <span class="wpcf7-form-control-wrap phone"><input type="text" name="sodienthoai" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Số điện thoại" required/></span> </p>
                                    <p>    <span class="wpcf7-form-control-wrap textarea"><textarea name="noidung" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Lời góp ý cho chúng tôi" required></textarea></span> </p>
                                    <p>    <input id="contact_submit" type="submit" value="Gửi" class="wpcf7-form-control wpcf7-submit" /></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>*@
